.logo{
    width: 200px;
    height: auto;
    float: left;
}
@font-face {
    /* font-family: "Aleo"; */
    /* src: url("../assets/fonts/aleo-regular.otf") format("opentype"); */
}
body{
    background-color: #CBC9CC;
    color: black;
    font: 24px "Aleo";
    border-top: 5px solid black ;
}
input[type="text"]{
    background-color: white;
}

