.logo{
    width: 200px;
    height: auto;
    float: left;
}
@font-face {
    font-family: "Aleo";
    src: url("../assets/fonts/aleo-regular.otf") format("opentype");
}
body{
    background-color: #CBC9CC;
    color: black;
    font: 24px "Aleo";
    border-top: 5px solid black ;
}
input[type="text"]{
    background-color: #575558;
}

button{
    background-color: #686868;
    width: 5cm;
    height: 5cm;
    font: 100px Tahoma sans-serif;
}